body{
    background-color: #ffcaf9;
    color: #000;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    position: fixed;
    left: 20px;
    top: 20px;
    position: relative;
}

#div0, #div1{
    width: 400px;
    height: 500px;
    background-color: #91658c;
    color: #000;
    position: absolute;
}
div#div0{
    left: 50px;
    top: 100px;
}
div#div1{
    left: 600px;
    top: 100px;
}
#Knopf0, #Knopf1{
    background-color: #ffcaf9;
}

span#fixed{
    background-color: #000;
    color: #fff;
    position:fixed;
    left: 10px;
    top: 10px;
    width: 230px;
    height: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}